<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<div class="container-fluid">
    <%- include('../partials/header'); %>
    <div class="row">
        <div class="col-auto">
            <table class="table table-dark table-striped table-bordered">
                <tr>
                    <th scope="row">Guild:</th>
                    <td>&lt;<%= guildName %>&gt;</td>
                </tr>
                <tr>
                    <th scope="row">Server:</th>
                    <td><%= serverName %></td>
                </tr>
                <tr>
                    <th scope="row">Region:</th>
                    <td><%= regionName %></td>
                </tr>
                <tr>
                    <th scope="row">Total Guildies:</th>
                    <td><%= guildCount %></td>
                </tr>
            </table>

            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#reportDataCollapse"
                        aria-expanded="false" aria-controls="reportDataCollapse">
                    Show Report Table Data
                </button>
            </p>

            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#rawDataCollapse"
                        aria-expanded="false" aria-controls="rawDataCollapse">
                    Show Raw Data
                </button>
            </p>
        </div>
        <div class="col-lg">
            <% if (failedChars.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    The following characters could not be loaded and need to be Updated on Warcraft Logs:<br/>
                    <%
                        let failCharCount = 0;
                    failedChars.forEach(function(value) {
                        failCharCount++; %>
                    <%= value %>

                    <% if (failCharCount != failedChars.length) { %>
                        <%= ',' %>
                    <% }
                    }) %>
                </div>
            <% } %>
            <div class="alert alert-info" role="alert">
                <form id="metricForm">
                    Showing <select id="pageMetric" name="pageMetric">
                        <option selected value="BEST">BEST</option>
                        <option value="AVG">AVG</option>
                        <option value="AVG5">AVG5</option>
                        <option value="AVG3">AVG3</option>
                    </select>
                    Graph <select id="graphEncounter" name="graphEncounter">
                        <option value="HKMG" selected>High King Maulgar</option>
                        <option value="GRUL">Gruul the Dragonkiller</option>
                        <option value="MAGT">Magtheridon</option>
                        <option value="HYDR">Hydross</option>
                        <option value="LURK">Lurker</option>
                        <option value="LEOT">Leotheras</option>
                        <option value="FATH">Fathom-Lord</option>
                        <option value="MORO">Morogrim</option>
                        <option value="VASH">Vashj</option>
                        <option value="ALAR">Alar</option>
                        <option value="VOID">Void Reaver</option>
                        <option value="SOLA">Solarian</option>
                        <option value="KAEL">Kaelthas</option>
                    </select>
                    Classes <select id="classFilter" name="classFilter">
                        <option value="ALL" selected>ALL</option>
                        <% classes.forEach(function(value, key) { %>
                        <option value="<%=value %>"><%=value %></option>
                        <% }); %>
                    </select>
                </form>
            </div>
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">

            <div id="toolbar2" class="select">
                <select class="form-control">
                    <option value="">Export Basic</option>
                    <option value="all">Export All</option>
                    <option value="selected">Export Selected</option>
                </select>
            </div>

            <div class="collapse" id="reportDataCollapse">
                <table id="table2" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar2"
                       data-show-toggle="true" data-show-columns="true"
                       data-filter-control="true"
                       class="table table-bordered table-hover table-dark table-striped table-responsive ">

                    <thead class="">
                    <tr>
                        <th style="" data-field="name" data-filter-control="input" data-sortable="true">
                            <div class="th-inner ">Name</div>
                        </th>
                        <th style="" data-field="className" data-filter-control="select" data-sortable="true">
                            <div class="th-inner ">Class</div>
                        </th>
                        <th style="" data-field="HKMG_BEST" data-sortable="true">
                            <div class="th-inner ">HKMG</div>
                        </th>
                        <th style="" data-field="GRUL_BEST" data-sortable="true">
                            <div class="th-inner ">GRUL</div>
                        </th>
                        <th style="" data-field="MAGT_BEST" data-sortable="true">
                            <div class="th-inner ">MAGT</div>
                        </th>
                        <th style="" data-field="HYDR_BEST" data-sortable="true">
                            <div class="th-inner ">HYDR</div>
                        </th>
                        <th style="" data-field="LURK_BEST" data-sortable="true">
                            <div class="th-inner ">LURK</div>
                        </th>
                        <th style="" data-field="LEOT_BEST" data-sortable="true">
                            <div class="th-inner ">LEOT</div>
                        </th>
                        <th style="" data-field="FATH_BEST" data-sortable="true">
                            <div class="th-inner ">FATH</div>
                        </th>
                        <th style="" data-field="MORO_BEST" data-sortable="true">
                            <div class="th-inner ">MORO</div>
                        </th>
                        <th style="" data-field="VASH_BEST" data-sortable="true">
                            <div class="th-inner ">VASH</div>
                        </th>
                        <th style="" data-field="ALAR_BEST" data-sortable="true">
                            <div class="th-inner ">ALAR</div>
                        </th>
                        <th style="" data-field="SOLA_BEST" data-sortable="true">
                            <div class="th-inner ">SOLA</div>
                        </th>
                        <th style="" data-field="VOID_BEST" data-sortable="true">
                            <div class="th-inner ">VOID</div>
                        </th>
                        <th style="" data-field="KAEL_BEST" data-sortable="true">
                            <div class="th-inner ">KAEL</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-auto">


            <div id="toolbar" class="select">
                <select class="form-control">
                    <option value="">Export Basic</option>
                    <option value="all">Export All</option>
                    <option value="selected">Export Selected</option>
                </select>
            </div>
            <div class="collapse" id="rawDataCollapse">


                <table id="table" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar"
                       data-show-toggle="true" data-show-columns="true"
                       class="table table-bordered table-hover table-dark table-striped table-responsive">

                    <thead class="">
                    <tr>
                        <th style="" data-field="name">
                            <div class="th-inner ">Name</div>
                        </th>
                        <th style="" data-field="bossName">
                            <div class="th-inner ">Boss</div>
                        </th>
                        <th style="" data-field="guildName">
                            <div class="th-inner ">Guild</div>
                        </th>
                        <th style="" data-field="date">
                            <div class="th-inner ">Date</div>
                        </th>
                        <th style="" data-field="dps">
                            <div class="th-inner ">DPS</div>
                        </th>
                        <th style="" data-field="duration">
                            <div class="th-inner ">Duration</div>
                        </th>
                        <th style="" data-field="pct">
                            <div class="th-inner ">HistRank</div>
                        </th>
                        <th style="" data-field="todayPct">
                            <div class="th-inner ">TodayRank</div>
                        </th>
                        <th style="" data-field="className">
                            <div class="th-inner ">Class</div>
                        </th>
                        <th style="" data-field="spec">
                            <div class="th-inner ">Spec</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    Chart.register(ChartDataLabels);


    var $table = $('#table')
    var $table2 = $('#table2')
    var myChart;

    function prepData(rawData) {
        let resultData = []
        let dataMap = new Map();
        let colorMap = new Map();
        for (let dataEntry of rawData) {
            if ($('#classFilter').val() == 'ALL' || $('#classFilter').val() == dataEntry.className  ) {
                dataMap.set(dataEntry.name, eval('dataEntry.' + $('#graphEncounter').val() + '_' + $('#pageMetric').val()))
                colorMap.set(dataEntry.name, dataEntry.classColor ?? '#FF0000')
            }
        }
        let sortedMap = new Map([...dataMap.entries()].sort((a, b) => b[1] - a[1]))
        for (let key of sortedMap.keys()) {
            let val = parseInt(sortedMap.get(key))
            if (val != 0) {
                const sortedEntry = {
                    name: key,
                    dataPoint: val,
                    color: colorMap.get(key)
                }
                resultData.push(sortedEntry)
            }
        }
        return resultData
    }

    function buildGraph(graphData) {
        let colors = []
        for (entry of graphData) {
            colors.push(entry.color)
        }
        if (myChart != null) myChart.destroy();
        var ctx = document.getElementById('myChart').getContext('2d');
        myChart = new Chart(ctx, {
            type: 'bar',

            data: {
                datasets: [{
                    data: graphData,
                    indexAxis: 'x',
                    backgroundColor: colors,
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    datalabels: {
                        color: '#000000',
                        formatter: function (value, context) {
                            return value.dataPoint;
                        }
                    }
                },
                parsing: {
                    yAxisKey: 'name',
                    xAxisKey: 'dataPoint'
                }
            }
        });
    }

    function buildTable2(rebuild) {
        if (rebuild == 1) $('#table2').bootstrapTable('destroy')
        $('#table2').bootstrapTable({
            data: mydata2,
            columns: [{
                field: 'name',
                title: 'Character'
            }, {
                field: 'className',
                title: 'Class'
            }, {
                field: 'HKMG_' + $('#pageMetric').val(),
                title: 'HKMG'
            }, {
                field: 'GRUL_' + $('#pageMetric').val(),
                title: 'GRUL'
            }, {
                field: 'MAGT_' + $('#pageMetric').val(),
                title: 'MAGT'
            }, {
                field: 'HYDR_' + $('#pageMetric').val(),
                title: 'HYDR'
            }, {
                field: 'LURK_' + $('#pageMetric').val(),
                title: 'LURK'
            }, {
                field: 'LEOT_' + $('#pageMetric').val(),
                title: 'LEOT'
            }, {
                field: 'FATH_' + $('#pageMetric').val(),
                title: 'FATH'
            }, {
                field: 'MORO_' + $('#pageMetric').val(),
                title: 'MORO'
            }, {
                field: 'VASH_' + $('#pageMetric').val(),
                title: 'VASH'
            }, {
                field: 'ALAR_' + $('#pageMetric').val(),
                title: 'ALAR'
            }, {
                field: 'SOLA_' + $('#pageMetric').val(),
                title: 'SOLA'
            }, {
                field: 'VOID_' + $('#pageMetric').val(),
                title: 'VOID'
            }, {
                field: 'KAEL_' + $('#pageMetric').val(),
                title: 'KAEL'
            }]
        })
        //$('#table2').bootstrapTable('load', mydata2)
        //$('#table2').bootstrapTable('refresh')
    }

    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                data: mydata
            })
        }).trigger('change')
    })

    $(function () {
        buildTable2();
        let graphData = prepData(mydata2)
        buildGraph(graphData);
    })

    $(function () {
        $('#toolbar2').find('select').change(function () {
            $table2.bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                data: mydata2
            })
        }).trigger('change')

        $('#pageMetric').change(function () {
            buildTable2(1);
            let graphData = prepData(mydata2)
            buildGraph(graphData);
        });

        $('#graphEncounter').change(function () {
            let graphData = prepData(mydata2)
            buildGraph(graphData);
        });

        $('#classFilter').change(function () {
            let graphData = prepData(mydata2)
            buildGraph(graphData);
        });
    })

    $('#reportDataCollapse').on('shown.bs.collapse', function () {
        this.scrollIntoView();
    });

    $('#rawDataCollapse').on('shown.bs.collapse', function () {
        this.scrollIntoView();
    });

    var mydata = <%- JSON.stringify(reportData) %>
    var mydata2 = <%- JSON.stringify(analyzedData) %>


</script>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>