<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<div className="container-fluid">
    <%- include('../partials/header'); %>
    <div class="row">
        <div class="col-sm-auto">
            <table class="table table-dark table-striped table-bordered">
                <tr>
                    <th scope="row">Guild:</th>
                    <td>&lt;<%= guildName %>&gt;</td>
                </tr>
                <tr>
                    <th scope="row">Server:</th>
                    <td><%= serverName %></td>
                </tr>
                <tr>
                    <th scope="row">Region:</th>
                    <td><%= regionName %></td>
                </tr>
                <tr>
                    <th scope="row">Total Guildies:</th>
                    <td><%= guildCount %></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-auto">
            <% if (failedChars.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    The following characters could not be loaded and need to be Updated on Warcraft Logs:<br/>
                    <%
                        let failCharCount = 0;
                    failedChars.forEach(function(value) {
                        failCharCount++; %>
                    <%= value %>

                    <% if (failCharCount != failedChars.lenth) { %>
                    <%= ',' %>
                    <% }
                    }) %>
                </div>
            <% } %>
            <div id="toolbar2" class="select">
                <select class="form-control">
                    <option value="">Export Basic</option>
                    <option value="all">Export All</option>
                    <option value="selected">Export Selected</option>
                </select>
            </div>
            <table id="table2" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar2"
                   data-show-toggle="true" data-show-columns="true"
                   data-filter-control="true"
                   class="table table-bordered table-hover table-dark table-striped table-responsive ">

                <thead class="">
                <tr>
                    <th style="" data-field="name" data-filter-control="input" data-sortable="true">
                        <div class="th-inner ">Name</div>
                    </th>
                    <th style="" data-field="className" data-filter-control="select" data-sortable="true">
                        <div class="th-inner ">Class</div>
                    </th>
                    <th style="" data-field="kills" data-sortable="true">
                        <div class="th-inner ">Kills</div>
                    </th>
                    <th style="" data-field="bestDps" data-sortable="true">
                        <div class="th-inner ">Best DPS</div>
                    </th>
                    <th style="" data-field="avgDps3" data-sortable="true">
                        <div class="th-inner ">Top 3 Avg</div>
                    </th>
                    <th style="" data-field="avgDps5" data-sortable="true">
                        <div class="th-inner ">Top 5 Avg</div>
                    </th>
                    <th style="" data-field="avgDps" data-sortable="true">
                        <div class="th-inner ">Avg Dps</div>
                    </th>
                    <th style="" data-field="bestRank" data-sortable="true">
                        <div class="th-inner ">Best Rank</div>
                    </th>
                    <th style="" data-field="avgRank" data-sortable="true">
                        <div class="th-inner ">Avg Rank</div>
                    </th>
                    <th style="" data-field="bossName">
                        <div class="th-inner ">Boss</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-auto">
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    Show Raw Data
                </button>
            </p>
            <div>
                <div id="toolbar" class="select">
                    <select class="form-control">
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                        <option value="selected">Export Selected</option>
                    </select>
                </div>
                <div class="collapse" id="collapseExample">
                    <table id="table" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar"
                           data-show-toggle="true" data-show-columns="true"
                           class="table table-bordered table-hover table-dark table-striped table-responsive">

                        <thead class="">
                        <tr>
                            <th style="" data-field="name">
                                <div class="th-inner ">Name</div>
                            </th>
                            <th style="" data-field="bossName">
                                <div class="th-inner ">Boss</div>
                            </th>
                            <th style="" data-field="guildName">
                                <div class="th-inner ">Guild</div>
                            </th>
                            <th style="" data-field="date">
                                <div class="th-inner ">Date</div>
                            </th>
                            <th style="" data-field="dps">
                                <div class="th-inner ">DPS</div>
                            </th>
                            <th style="" data-field="duration">
                                <div class="th-inner ">Duration</div>
                            </th>
                            <th style="" data-field="pct">
                                <div class="th-inner ">HistRank</div>
                            </th>
                            <th style="" data-field="todayPct">
                                <div class="th-inner ">TodayRank</div>
                            </th>
                            <th style="" data-field="className">
                                <div class="th-inner ">Class</div>
                            </th>
                            <th style="" data-field="spec">
                                <div class="th-inner ">Spec</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var $table = $('#table')

    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                data: mydata
            })
        }).trigger('change')
    })

    var $table2 = $('#table2')

    $(function () {
        $('#toolbar2').find('select').change(function () {
            $table2.bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                data: mydata2
            })
        }).trigger('change')
    })

    var mydata = <%- JSON.stringify(reportData) %>
    var mydata2 = <%- JSON.stringify(analyzedData) %>
</script>

<%- include('../partials/footer'); %>
</body>
</html>