<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>


<style>
    #toolbar {
        margin: 0;
    }
</style>


<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container container-sm">
                    <table class="table table-dark table-striped table-bordered table-sm table-responsive">
                        <tr><th scope="row">Guild:</th><td><%=guildName%></td></tr>
                        <tr><th scope="row">Server:</th><td><%=serverName%></td></tr>
                        <tr><th scope="row">Region:</th><td><%=regionName%></td></tr>
                        <tr><th scope="row">Total Guildies:</th><td><%=guildCount%></td></tr>
                    </table>
                </div>
            </div>
            <div class="col"></div>
            <div class="col">


            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <div id="toolbar" class="select">
                        <select class="form-control">
                            <option value="">Export Basic</option>
                            <option value="all">Export All</option>
                            <option value="selected">Export Selected</option>
                        </select>
                    </div>

                    <table id="table" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar"
                           data-show-toggle="true" data-show-columns="true" class="table table-bordered table-hover table-dark table-striped table-responsive">

                        <thead class="">
                        <tr>
                            <th style="" data-field="name"><div class="th-inner ">Name</div>
                                <div class="fht-cell"></div></td>
                            <th style="" data-field="bossName"><div class="th-inner ">Boss</div>
                                <div class="fht-cell"></div></td>
                            <th style="" data-field="guildName"><div class="th-inner ">Guild</div>
                                <div class="fht-cell"></div></td>
                            <th style="" data-field="date"><div class="th-inner ">Date</div>
                                <div class="fht-cell"></div></td>
                            <th style="" data-field="dps"><div class="th-inner ">DPS</div>
                                <div class="fht-cell"></div></td>
                            <th style="" data-field="duration"><div class="th-inner ">Duration</div>
                                <div class="fht-cell"></div></td>
                            <th style="" data-field="pct"><div class="th-inner ">HistRank</div>
                                <div class="fht-cell"></div></td>
                            <th style="" data-field="todayPct"><div class="th-inner ">TodayRank</div>
                                <div class="fht-cell"></div></td>
                            <th style="" data-field="class"><div class="th-inner ">Class</div>
                                <div class="fht-cell"></div></td>
                            <th style="" data-field="spec"><div class="th-inner ">Spec</div>
                                <div class="fht-cell"></div></td>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        var $table = $('#table')

        $(function () {
            $('#toolbar').find('select').change(function () {
                $table.bootstrapTable({
                    exportDataType: $(this).val(),
                    exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                    data: mydata
                })
            }).trigger('change')
        })

        var mydata = <%- JSON.stringify(reportData) %>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>


</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>