<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="container">
        <%
        if (errorText != '') {%>
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger" role="alert"><%=errorText%>></div>
                </div>
            </div>
        <% } %>
        <form action="/encounter-report" method="post">

            Guild Name: <input name="guildName" type="text"/> <br/>
            Region: <input type="radio" id="regionUS" name="region" value="US" checked>
            <label for="regionUS">US</label>
            <input type="radio" id="regionEU" name="region" value="EU" >
            <label for="regionEU">EU</label>
            <br/>
            Server: <select name="server" id="server">
                        <option>NOT LOADED</option>
                    </select>
            <br/>
            Metric: <select name="metric">
                <option value="dps" selected>DPS</option>
                <option value="hps">HPS</option>
            </select>
            <br/>
            Report Type: <select name="encounterId">
                <option value="All">All Encounters (SLOW)</option>
                <% encounters.forEach(function(value, key) { %>
                    <option value="<%=key %>"><%=value %></option>
                <% }); %>
            </select> <br />
            <input type="submit" />
        </form>
    </div>
</main>
<script>
    function loadEuServers() {
        $('#server').empty();
        <% euServers.forEach(function(value) { %>
        $('#server').append($('<option>',{text: '<%= value %>', value: '<%= value %>'}))
        <% }) %>
        $('#server').change();
    }

    function loadUsServers() {
        $('#server').empty();
        <% usServers.forEach(function(value) { %>
        $('#server').append($('<option>',{text: '<%= value %>', value: '<%= value %>'}))
        <% }) %>
        $('#server').change();
    }

    $(document).ready(function(){
        var radioValue = $("input[name='region']:checked").val();
        if(radioValue == 'EU') {
            loadEuServers();
        } else {
            loadUsServers();
        }

        $('#regionUS').change(function(){
            loadUsServers();
        });
        $('#regionEU').change(function(){
            loadEuServers();
        });
    });


</script>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>